nav {
  background-color: $themeOrangeAccent;
  color: white;

  @include flexy($just: space-between, $dir: row, $align: center);
  padding: 0 1em;

  .toggle-btn {
    position: absolute;
    top: 1.25em;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 40px;
    border: 5px solid $themeOrange;
    border-radius: 5px;
    padding: 3px;

    // position: absolute;
    // top: 1.25 em;
    // right: 1 em;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // width: 50 px;
    // height: 37 px;
    // border: 5 px solid $themeOrangeAccent;
    // padding: 3 px;

    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
    }

    &:hover {
      cursor: pointer;
      border-color: $themeOrangeAccent;
    }

    &:active {
      border-color: $themeOrange;
    }
  }

  .nav-items {
    display: none;
  }

  .active {
    display: block;
  }

  @include mq("lg") {
  }
}
