.addSectionStyle{
    margin: .5em;
    padding: 2em 5px .5em 5px;
    form{
        @include flexy($dir:column);
        max-width: 500px;
        margin-top: 1em;
        *{
            padding: 5px 0;
        }
    }
    .buttons{
        margin: 10px 0;
        *{
            margin-right: 10px;
        }
    }
}